* {
  margin: 0;
  padding: 0;
}
html, body {
  font: 14px "Segoe UI";
  color: #404040;
  line-height: 20px;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
.right {
  float: right;
  width: 70%;
  height: 100vh;
}
.matrix {
  display: inline-block;
  vertical-align: middle;
}
#caption_A {
  font-size: 30px;
  margin-left: 20px;
}
#caption_B {
  font-size: 30px;
  margin: 20px 0px 0px 120px;
}
table {
  margin: 20px 0px 0px 40px;
  border-collapse: separate;
  border-spacing: 8px;
  border: 5px solid transparent;
  border-left: 5px solid #696969;
  border-right: 5px solid #696969;
  border-image: url(picture/border.jpg) 30;
}
td {
  height: 40px;
  width: 40px;
  text-align: center;
}
.right input {
  height: inherit;
  width: inherit;
  text-align: center;
  border: 1px solid rgba(167, 167, 168, 0.5);
  border-top: 1px solid rgba(102, 104, 107, 0.5);
  -moz-appearance: textfield;
}
.right input:focus {
  outline: 2px solid #72a9e0;
  border: 1px solid transparent;
}
input::-webkit-inner-spin-button {
  display: none;
}
input[type="button"] {
  display: none;
}
input[type="radio"] {
  background-color: #F5F5F5;
  border-radius: 50%;
  border: 1px solid #808080;
  height: 15px;
  width: 15px;
}
.left {
  float: left;
  width: 30%;
  height: 100vh;
  background-color: #C0C0C0;
}
.cantMultiply {
  margin: 50px 0px 0px 50px;
  color: rgba(227, 11, 11, 1);
}
.button_inner {
  margin-left: 50px;
}
#multiply {
  width: 190px;
  height: 32px;
  border-left: 1px solid rgba(36, 112, 50, 0.5);
  border-top: 1px solid rgba(36, 112, 50, 0.5);
  border-bottom: 1px solid rgba(1, 38, 8, 0.5);
  background: linear-gradient(to top, #0c8a0c, #1aba1a);
  margin-top: 40px;
  border-radius: 3%;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
  position: absolute;
  z-index: 2;
}
#multiply_arrow {
  height: 26px;
  width: 26px;
  background: linear-gradient(to top left, #0c8a0c, #1aba1a);
  border: 1px solid rgba(36, 112, 50, 0.5);
  transform: rotate(55deg) skew(16deg);
  -moz-transform: rotate(55deg) skew(16deg);
  -ms-transform: rotate(55deg) skew(16deg);
  -webkit-transform: rotate(55deg) skew(16deg);
  -o-transform: rotate(55deg) skew(16deg);
  border-radius: 17%;
  margin: 47px 0px 0px 227px;
  position: absolute;
  z-index: 1;
}
#multiply:active {
  box-shadow: 0 1px 0 rgba(18, 74, 4, 0.5) inset;
}
#clean {
  width: 160px;
  height: 25px;
  background: linear-gradient(to top, #d9dbda, #ffffff);
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-bottom: 1px solid rgba(30, 31, 33, 0.5);
  margin-top: 150px;
  border-radius: 3%;
  text-align: center;
  padding-top: 5px;
}
#clean:hover {
  background: linear-gradient(to top, #c7c7c7, #F5F5F5);
}
#clean:active {
  background: #b5b5b5;
  border-bottom: 1px solid rgba(105, 106, 107, 0.5);
  box-shadow: 0 2px 2px rgba(135, 137, 140, 0.5) inset;
}
#change {
  width: 220px;
  height: 25px;
  background: linear-gradient(to top, #d9dbda, #ffffff);
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-bottom: 1px solid rgba(30, 31, 33, 0.5);
  margin-top: 20px;
  padding-top: 5px;
  border-radius: 3%;
  text-align: center;
}
#change:hover {
  background: linear-gradient(to top, #c7c7c7, #F5F5F5);
}
#change:active {
  background: #b5b5b5;
  border-bottom: 1px solid rgba(105, 106, 107, 0.5);
  box-shadow: 0 2px 2px rgba(135, 137, 140, 0.5) inset;
}
#change input {
  display: none;
}
.table_buttons {
  height: 25px;
  width: 100px;
  margin: 10px 5px 10px 0px;
  background: linear-gradient(to top, #d9dbda, #ffffff);
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-bottom: 1px solid rgba(30, 31, 33, 0.5);
  border-radius: 3%;
  padding-top: 5px;
  text-align: center;
}
.table_buttons:hover {
  background: linear-gradient(to top, #c7c7c7, #F5F5F5);
}
.table_buttons:active {
  background: #b5b5b5;
  border-bottom: 1px solid rgba(105, 106, 107, 0.5);
  box-shadow: 0 2px 2px rgba(135, 137, 140, 0.5) inset;
}
.button_col {
  display: inline-block;
  margin-top: 60px;
}
#left_col {
  margin-left: 50px;
}
.button_col p {
  margin-bottom: 21px;
}
.radio_buttons {
  width: 14px;
  height: 14px;
  background: #F5F5F5;
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-radius: 100%;
  position: relative;
  margin-bottom: -2px;
}
.radio_buttons input[type=radio] {
  display: none;
}
.radio_buttons label {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 100px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
  background: #F5F5F5;
}
.radio_buttons input[type=radio]:checked + label {
  background: black;
}
.radio_name {
  display: inline-block;
}
