* {
  margin: 0;
  padding: 0;
}
html, body {
  font: 14px "Segoe UI";
  color: #404040;
  line-height: 20px;
}
.wrapper {
  width: 100%;
  height: 100vh;
}
.right {
  float: right;
  width: 70%;
  height: 100vh;
}
.matrix {
  display: inline-block;
  vertical-align: middle;
}
#caption_A {
  font-size: 30px;
  margin-left: 20px;
}
#caption_B {
  font-size: 30px;
  margin: 20px 0px 0px 120px;
}
table {
  margin: 20px 0px 0px 40px;
  border-collapse: separate;
  border-spacing: 8px;
  border: 5px solid transparent;
  border-left: 5px solid #696969;
  border-right: 5px solid #696969;
  border-image: url(picture/border.jpg) 30;
}
td {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(167, 167, 168, 0.5);
  border-top: 1px solid rgba(102, 104, 107, 0.5);
  text-align: center;
}
.right input:focus {
  border: 1px solid #72a9e0;
}
.right input {
  height: inherit;
  width: inherit;
  text-align: center;
  border: none;
}
.right input {
  -moz-appearance: textfield;
}
input::-webkit-inner-spin-button {
  display: none;
}
input[type="button"] {
  display: none;
}
input[type="radio"] {
  background-color: #F5F5F5;
  border-radius: 50%;
  border: 1px solid #808080;
  height: 15px;
  width: 15px;
}
.left {
  float: left;
  width: 30%;
  height: 100vh;
  background-color: #C0C0C0;
}
.cantMultiply {
  margin: 50px 0px 0px 50px;
  color: rgba(227, 11, 11, 1);
}
.button_inner {
  margin-left: 50px;
}
#multiply {
  position: relative;
  width: 190px;
  height: 30px;
  border: 1px solid rgba(36, 112, 50, 0.5);
  border-bottom: 1px solid rgba(1, 38, 8, 0.5);
  background-color: #2ba11b;
  margin-top: 40px;
  border-radius: 3%;
  color: white;
  font-size: 16px;
  text-align: center;
  padding-top: 8px;
}
#multiply:before {
  content: "";
  display: block;
  position: absolute;
  border: 12px solid rgba(7, 79, 20, 0.5);
  top: 7px;
  right: -13.5px;
  -webkit-transform: rotate(55deg) skew(20deg);
  -ms-transform: rotate(55deg) skew(20deg);
  -moz-transform: rotate(55deg) skew(20deg);
  -o-transform: rotate(55deg) skew(20deg);
  transform: rotate(55deg) skew(20deg);
  border-radius: 10%;
}
#multiply:after {
  content: "";
  display: block;
  position: absolute;
  border: 12px solid #2ba11b;
  top: 7px;
  right: -12.5px;
  -webkit-transform: rotate(55deg) skew(20deg);
  -ms-transform: rotate(55deg) skew(20deg);
  -moz-transform: rotate(55deg) skew(20deg);
  -o-transform: rotate(55deg) skew(20deg);
  transform: rotate(55deg) skew(20deg);
  border-radius: 12%;
}
#multiply:active {
  box-shadow: 0 1px 1px rgba(18, 74, 4, 0.5) inset;
}
#clean {
  width: 160px;
  height: 30px;
  background: linear-gradient(to top, #d9dbda, #ffffff);
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-bottom: 1px solid rgba(30, 31, 33, 0.5);
  margin-top: 50px;
  border-radius: 3%;
  text-align: center;
}
#clean img {
  width: 18px;
  height: 12px;
  margin: 8px 0px 0px 0px;
}
#clean:hover {
  background: linear-gradient(to top, #c7c7c7, #F5F5F5);
}
#clean:active {
  background: #b5b5b5;
  border-bottom: 1px solid rgba(105, 106, 107, 0.5);
  box-shadow: 0 2px 2px rgba(135, 137, 140, 0.5) inset;
}
#change {
  width: 220px;
  height: 30px;
  background: linear-gradient(to top, #d9dbda, #ffffff);
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-bottom: 1px solid rgba(30, 31, 33, 0.5);
  margin-top: 20px;
  border-radius: 3%;
  text-align: center;
}
#change img {
  width: 10px;
  height: 12px;
  margin: 8px 0px 0px 0px;
}
#change:hover {
  background: linear-gradient(to top, #c7c7c7, #F5F5F5);
}
#change:active {
  background: #b5b5b5;
  border-bottom: 1px solid rgba(105, 106, 107, 0.5);
  box-shadow: 0 2px 2px rgba(135, 137, 140, 0.5) inset;
}
#change input {
  display: none;
}
.table_buttons {
  height: 25px;
  width: 100px;
  margin: 10px 5px 10px 0px;
  background: linear-gradient(to top, #d9dbda, #ffffff);
  border: 1px solid rgba(105, 106, 107, 0.5);
  border-bottom: 1px solid rgba(30, 31, 33, 0.5);
  border-radius: 3%;
  padding-top: 5px;
  text-align: center;
}
.table_buttons img {
  width: 11px;
  height: 11px;
  margin: 5px 0px 0px 0px;
}
.table_buttons:hover {
  background: linear-gradient(to top, #c7c7c7, #F5F5F5);
}
.table_buttons:active {
  background: #b5b5b5;
  border-bottom: 1px solid rgba(105, 106, 107, 0.5);
  box-shadow: 0 2px 2px rgba(135, 137, 140, 0.5) inset;
}
.button_col {
  display: inline-block;
  margin-top: 60px;
}
#left_col {
  margin-left: 50px;
}
.button_col p {
  margin-bottom: 21px;
}
